/* 
    Document   : admin_panel
    Created on : Oct 23, 2013, 1:01:57 PM
    Author     : Trycatch(TM) Chiangmai
    Description:
        Purpose of the stylesheet follows.
*/

.logged_user{
    padding-top: 76px;
}

.mfu_admin_panel{
    color: #999;
}

.user_real_name_panel{
    line-height: 50px;
}

.operation_menu{
    margin-top: 25px;
}

@media (min-width: 480px) and (max-width: 768px) { 
    .operation_menu{
        margin-top: 0px;
    }
    .logged_user{
        padding-top: 51px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .operation_menu{
        margin-top: 0px;
    }
    .logged_user{
        padding-top: 51px;
    }
}

@media (min-width: 1024px) and (max-width: 1170px){ 
    .operation_menu{
        margin-top: 11px;
    }
    .logged_user{
        padding-top: 62px;
    }
}