/* 
    Document   : general_operation
    Created on : Oct 21, 2013, 9:27:32 PM
    Author     : Trycatch(TM) Chiangmai
    Description:
        Purpose of the stylesheet follows.
*/

@import url('../fonts/th_sarabun.css');
@import url('../fonts/thaisanlite.css');

.txt_left{
    text-align: left;
}

.txt_right{
    text-align: right;
}

.txt_center{
    text-align: center;
}

.txt_shadow{
    text-shadow: 1px 1px 2px #000;
}

.txt_justify{
    text-align: justify
}

.relative{
    position: relative !important;
}

.padding_top_10{
    padding-top: 10px;
}

.padding_top_7{
    padding-top: 7px;
}

.padding_bottom_10{
    padding-bottom: 10px;
}

.th_sarabun{
    font-family: 'sarabun',sans-serif;
}

.th_san{
    font-family: 'thai_sans_literegular',sans-serif;
}

.red{
    color: #ff0000 !important;
}

.green{
    color: #339933 !important;
}

.cyan{
    color: #003366 !important;
}

.absolute_center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.margin_top_0{
    margin-top: 0px;
}

.margin_bottom_0{
    margin-bottom: 0px;
}

.margin_bottom_5{
    margin-bottom: 5px;
}

.margin_bottom_20{
    margin-bottom: 20px;
}

.margin_bottom_40{
    margin-bottom: 40px;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_20{
    margin-top: 20px;
}

.margin_top_40{
    margin-top: 40px;
}

.margin_left_30{
    margin-left: 30px;
}

.panel.panel-mfu{
    border-color: #ccc;
}

.panel-mfu>.panel-heading {
    color: #666;
    background-color: #efefef;
    border-color: #ccc;
}

.font_11{
    font-size: 11px;
}

.font_24{
    font-size: 24px;
}

.white{
    color: #fff;
}

.bold{
    font-weight: bold;
}

.box_search{
    position: absolute;
    top: 0px;
    right: 14px;
    width: 455px;
}

.border_radius_0{
    border-radius: 0px !important;
}

.border_radius_0.margin_right_minus_1{
    margin-right: -1px;    
}