/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2014, 12:34:44 AM
    Author     : Keittirat
*/

@import url('../fonts/thaisanlite.css');
@import url('general_operation.css');

body{
    padding: 0px;    
}

.red{
    color: #fd0200;
}

.red_1{
    color: #cc3333;
}

.custom-col-xs-1, .custom-col-xs-2, .custom-col-xs-3, .custom-col-xs-4, .custom-col-xs-5, .custom-col-xs-6, .custom-col-xs-7, .custom-col-xs-8, .custom-col-xs-9, .custom-col-xs-10, .custom-col-xs-11, .custom-col-xs-12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.container .custom-col-xs-5{
    width: 404px;
}

.container .custom-col-xs-4{
    width: 323px;
}

.header{
    height: 200px;
    background: url(../image/header_bg.png) repeat-x top;
}

.header .container{
    background-image: url('../image/header_watermark.png');
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.th_san{
    font-family: 'thai_sans_literegular', sans-serif;
}

.menu_section{
    margin: 0px;
    font-family: 'thai_sans_literegular', sans-serif;
    font-size: 24px !important;
}

.menu_section .dropdown-menu{
    margin: 0px;
    font-family: 'thai_sans_literegular', sans-serif;
    font-size: 18px !important;
}

.menu_section a{
    color: #fff;
    padding: 5px 14px !important;
}

.menu_section .nav .open>a, .menu_section .nav .open>a:hover, .menu_section .nav .open>a:focus, .menu_section .nav>li>a:hover, .menu_section .menu_section .nav>li>a:focus {
    background-color: transparent !important;
    padding: 5px 14px !important;
}

.slide{
    height: 280px;
    background-color: #666;
}

.slide_index{
    /*margin-top: -70px;*/
}

.spc_label{
    border-bottom: 1px solid #fd0200;
    font-family: 'thai_sans_literegular', sans-serif;
    font-size: 28px;
}

.spc_label span{
    border-bottom: 1px solid #ff9902;
    line-height: 30px;
    display: inline-block;
    margin-bottom: -1px;
    text-transform: capitalize;
    color: #5f5f5f;
}

.dropdown-menu .dropdown a{
    color: #fd0200;
}

.event_date{
    width: 61px;
    float: left;
    padding: 0px 5px 0px 15px;
}

.event_info{
    float: left;
    padding: 0px 15px 0px 3px;
    width: 180px;
}

.widget_cate_thumbnail{
    width: 130px;
    height: 100px;
    padding: 0px 15px;
    float: left;
}

.widget_cate_thumbnail .thumbnail_mfu{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.widget_cate_thumbnail .thumbnail_mfu.portrait, .portrait{
    background-size: auto 100%;
}

.widget_cate_thumbnail .thumbnail_mfu.landscape, .landscape{
    background-size: 100% auto;
}

.widget_cate_info{
    padding: 0px 15px 0px 0px;
    float: left;
    width: 350px;
}

.widget_cate_info.block_half{
    width: 233px;
}

.widget_cate_info.cate_page{
    width: 597px;
}

.widget_cate_info h4{
    margin: 0px 0px 5px;
}

.widget_cate_info h4 a{
    color: #cc3333;
}

.widget_cate_info p{
    font-size: 11px;
}

ul.ad_gl{
    padding: 0px 20px 0px 10px;
    margin-bottom: 20px;
}

ul.ad_gl li{
    list-style: none;
    padding: 5px 0px;
}

ul.ad_gl li a{
    color: #5a5a5a;
    font-size: 23px;
    line-height: 23px;
}

.widget_header_type_1{
    background: url('../image/sidebar_header.png') no-repeat 100% center;
    height: 70px;
    padding: 6px 10px;
}

.widget_header_type_1 p{
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    margin: 0px;
    font-size: 24px;
    line-height: 20px;
}

ul.school_list, ul.reserved_list{
    padding: 0px 5px;
}

ul.school_list li, ul.reserved_list li{
    list-style: none;
    font-size: 11px;
}

ul.school_list li a, ul.reserved_list li a{
    color: #5a5a5a;
}

ul.school_list li a:hover, ul.reserved_list li a:hover{
    color: #fd0200;
}

ul.ext_link_list{
    padding: 0px 10px 0px 20px;
}

ul.ext_link_list li{
    font-size: 11px;
}

ul.ext_link_list li a{
    color: #5a5a5a;
}

ul.ext_link_list li a:hover{
    color: #fd0200;
}

.label_widget_type_1{
    color: #fd0200;
    font-size: 30px;
    line-height: 30px;
    margin: 5px 0px 2px;
    padding: 0px 5px;
    font-weight: bold;
}

.each_widget{
    margin-bottom: 20px;
}

.fix_link{
    margin-bottom: 10px;
    background: url('../image/sidebar_separator.png') no-repeat center top;
    padding-top: 15px;
}

.fix_link a{
    text-decoration: none;
}

ul.post_in_cate_list{
    padding: 0px 15px;
}

ul.post_in_cate_list li{
    margin-bottom: 10px;
    font-size: 12px;
    list-style: none;
}

ul.post_in_cate_list li a{
    color: #cc3333;
}

.footer_address p{
    margin: 0px;
    font-size: 12px;
    color: #949494;
}

.block_3 .col-xs-4{
    border-left: 1px solid #cacaca;
}

.block_3 .col-xs-4:first-of-type{
    border-left-color: transparent;
}

.block_2 .widget_cate_info{
    width: 354px;
}

.sidebar{
    border-left: 1px solid #cacaca;
}

.sidebar ul.hilight_link{
    padding-left: 15px;
}

a.btn_gotosite{
    width: 184px;
    height: 58px;
    background-image: url('../image/school_gotosite.png'); 
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
}

a.btn_gotosite.en{    
    background-image: url('../image/school_gotosite_eng.png'); 
}

a.btn_gotosite:hover{
    background-position: 0px -58px;
}

a.btn_gotosite:active{
    background-position: 0px -116px;
}

.img_top_holder{
    height: 320px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.img_top_holder.visitor_info{
    background-image: url('../image/Visitor_background.jpg');
}

.img_top_holder.programmes{
    background-image: url('../image/programmes_background.jpg');
}

.img_top_holder.research_info{
    background-image: url('../image/Visitor_research.jpg');
}

.img_top_holder.pr_info{
    background-image: url('../image/News_background.jpg');
}

.img_top_holder.other_news{
    background-image: url('../image/news2_background.jpg');    
}

.img_top_holder.admission{
    background-image: url('../image/admission_background.jpg');
}

.img_top_holder.index_mini{
    background-image: url('../image/home_background_mini.jpg');
    height: 341px;
}

.img_top_holder.index{
    background-image: url('../image/home_background.jpg');
    height: 400px;
}

.visitor_slide{
    height: 465px !important;
}

.hilight_thumb{
    height: 96px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

ul.hilight_link{
    padding-left: 30px;
}

ul.hilight_link li{
    line-height: 15px;
    list-style: none;
    text-indent: -12px;
}

ul.hilight_link li a{
    font-size: 11px;
    color: inherit;
}

.nivo-controlNav{
    display: none;
}

#map_canvas{
    height: 320px;
}

a.link_inherit{
    color: inherit;  
}

.cubic-md-4{
    height: 213px;
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.cubic-md-4 .gallery_title{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}

.cubic-md-4 .gallery_title span{
    padding: 7px 10px;
    color: #fff;
    display: block;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

.cubic-md-4 .magnify{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity:0;
}

.mfu.breadcrumb{
    padding: 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
}

.mfu.breadcrumb>li+li:before {
    content: "\00bb";
    padding: 0 5px;
    color: #ff0000;
}

.mfu.breadcrumb a{
    color: #666;
}

.mfu.breadcrumb>.active{
    color: #ff0000;
}

.sub_inside_menu{
    height: 75px;
    margin-top: -75px;
}

.menu_interior{
    display: inline-table;
    height: 75px;
    background: url('../image/admission_menu_repeat.png') top repeat-x;
    margin: 0px -4px 0px -55px;
    padding: 10px 0px 13px;
    float: left;
}

.menu_interior a{
    color: #fff;
}

.menu_interior a:hover{
    color: #ff0000;
}

.absolute_bottom{
    position: absolute;
    bottom: 3px;
    left: 35px;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
    text-indent: -28px;
}

a.howtoget_btn{
    height: 40px;
    display: block;
    line-height: 40px;
    color: #222;
    text-decoration: none;
    background-image: url('../image/btn_inactive.jpg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    text-align: center;
    margin: 0px -15px 5px;
    font-size: 20px;
}

a.howtoget_btn:hover{
    background-image: url('../image/btn_active.jpg');
    color: #fff;
}

a.fb_btn_submenu{
    padding: 0px 15px !important;
}

a.fb_btn_submenu:hover{
    background-color: transparent !important;
}

ul.lang_bar{
    padding: 0px;
    display: inline-block;
    margin: 0px;

}

ul.lang_bar li{
    list-style: none;
    float: left;
}

table.organization-table thead th{
    background-color: #cc0000;
    color: #fff;
}

table.organization-table a{
    color: #222;
}